html,
*,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --board-grid: 25;
    --board-size: 100px;
}

#board_element {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.board_row {
    display: block;
    white-space: nowrap;
}

.board_col {
    display: inline-block;
    white-space: nowrap;
}

.board_content {
    font-size: 25px;
    width: var(--board-size);
    height: var(--board-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}